* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

 .navdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 32px;
      }

      .navdiv ul {
        list-style-type: none;
        display: flex;
        gap: 24px;
        padding: 0;
        margin: 0;
      }

      .navdiv ul li a {
        text-decoration: none;
        color: white;
        font-size: 21.5px;
        position: relative;
      }

      .navdiv ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: #ffffff;
        transition: width 0.2s ease-in-out;
      }

      .navdiv ul li a:hover::after {
        width: 100%;
      }

div {
    background-color: white;
    padding: 32px;
    border: 4px solid black;
    height: 130vh;
    width: 1600px;
    margin: 90px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center; 
    font-size: 37px;
}

hr {
    border: none;
    height: 3px;
    background: black;
}

ul {
    font-size: 22px;
}

.site-footer {
        background-color: #ee2624;
        color: #ffffff;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        font-size: 17px;
        padding: 25px 0;
        margin-top: auto;
        width: 100%;
        box-sizing: border-box;
      }
