* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

div {
    background-color: white;
    padding: 32px;
    border: 4px solid black;
    height: 145vh;
    width: 1620px;
    margin: 90px;
}

h2 {
    text-align: center;
    font-size: 63px;
}

p {
    text-align: center; 
    font-size: 42px;
}

hr {
    border: none;
    height: 4px;
    background: black;
}

ul {
    font-size: 28px;
}
