* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
      margin: 0;
      padding: 0;
      font-family: 'Source Sans Pro', sans-serif;  
    }

 .navbar {
        background: #005daa;
        font-family: "Source Sans Pro";
        padding: 2px 3%;
      }

.logo {
        margin-left: auto;
      }
.navdiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 32px;
      }

      .navdiv ul {
        list-style-type: none;
        display: flex;
        gap: 24px;
        padding: 0;
        margin: 0;
      }

      .navdiv ul li a {
        text-decoration: none;
        color: white;
        font-size: 21.5px;
        position: relative;
      }
      .navdiv ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0;
        height: 2px;
        background-color: #ffffff;
        transition: width 0.2s ease-in-out;
      }

      .navdiv ul li a:hover::after {
        width: 100%;
      }

h3 {
    background-color: #324659;
    color: white;
    padding: 12px;
    width: 600px;
    margin: 0 auto;
}

img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 30px auto;
}

.together {
    display: flex;
    justify-self: center;
    gap: 15px;
}

.together img {
    width: 325px;
    height: auto;
}

.everybody {
    display: flex;
    justify-self: center;
    gap: 15px;
}

.everybody img {
    width: 325px;
    height: auto;
}

.yar {
    display: flex;
    justify-self: center;
    gap: 23px; 
}

.yar img {
    width: 325px;
    height: auto;
}

 .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .nav-id {
        text-align: center;
        margin-top: 4px;
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 1px;
        padding-top: 2px;

      }

.site-footer {
        background-color: #ee2624;
        color: #ffffff;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 400;
        font-size: 17px;
        padding: 25px 0;
        margin-top: auto;
        width: 100%;
        box-sizing: border-box;
      }
