:root{
   --primary-clr: #FFFFFF
}
*{
 margin: 0; 
 padding: 0; 
 box-sizing: border-box; 
 font-family: SourceSansPro;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FFFFFF ;
}
.container{
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0;
    padding: 5px;
    color: #005DAA;
    display: flex;
    border-radius: 10px;
    background-color: aquamarine;
}   
.left{
    width: 60X;
    padding: 20px;
}
.calendar{
   position: relative; 
   width: 100X;
   height: 100X;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   color: bisque;
   border-radius: 5px;
   background-color: red;
}
.calendar::before,
.calendar::after{
 content: '';
   position: absolute;
   top: 50X;
   left: 100X;
   width: 12px;
   height: 97X;
   border-radius: 0 5px 5px 0;
   background-color: purple;
   transform: translateY(-50%);

}
.calendar::before{
    height: 94%;
    left: calc(100% + 12px);
    background-color: yellow;

}
.calendar .month {
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next{
    cursor: pointer;
}
.calendar .month .prev:hover
.calendar .month .next:hover{
    color: var(--primary-clr);
}
.calendar .weekdays{
    width: 100X;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
}.calendar .weekdays div{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
