:root{
   --primary-clr: rgb(216, 85, 85);
}
*{
 margin: 0; 
 padding: 0; 
 box-sizing: border-box; 
 font-family: "Source Sans Pro", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FFFFFF ;
}
.container{
    width: 1200px;
    min-height: 850px;
    padding: 5px;
    color: #005DAA;
    display: flex;
    border-radius: 10px;
    background-color: #005DAA;
}   
.left{
    width: 60%;
    padding: 20px;
}
.calendar{
   
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   color: black;
   border-radius: 5px;
   background-color: #FFFFFF;
   position: relative;
}
.calendar::before,
.calendar::after{
 content: '';
 pointer-events: none;
   position: absolute;
   top: 50%;
   left: 100%;
   width: 12px;
   height: 97%;
   border-radius: 0 5px 5px 0;
   background-color: #FFFFFF;
   transform: translateY(-50%);

}
.calendar::before{
    height: 94%;
    left: calc(100% + 12px);
    background-color: #FFFFFF;

}
.calendar .month {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next{
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover{
    color: var(--primary-clr);
}
.calendar .weekdays{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}.calendar .weekdays div{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar .days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px;
    font-size: 10px;
    margin-bottom: 20px;
}
.calendar .days .day{
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    border: 1px solid rgb(216, 85, 85);
    font-size: 14px;
}
.calendar .day:not(.prev-date , .next-date):hover{
    color: orange;
    background-color: #005DAA;
}
.calendar .days .prev-date,
.calendar .days .next-date {
    color: green;
}
.calendar .days .active{
    position: relative;
    font-size: 10px;
    color: maroon;
    background-color: black;
}
.calendar .days .active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
    font-size: 10px; 
}
.calendar .days .event{
    position: relative;
}
.calendar .days .event::after{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translate(-50%);
    background-color: black;
}
.calendar .event:hover::after{
    background-color: black;
}
.calendar .active.event::after{
    background-color: aqua;

}
.calendar .active.event {
   padding-bottom: 10px; 
}
.calendar .goto-today{
    margin-top: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.calendar .goto-today .goto{
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
}
.calendar .goto-today button{
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
}
.calendar .goto-today button:hover{
    color: #FFFFFF;
    background-color: var(--primary-clr);
}
.calendar .goto-today .goto button{
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}

.calendar .month .date{
    pointer-events: none;
    flex: 1;
    text-align: center;
}

.container .right{
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

.right .today-date{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.today-date .event-day{
    font-size: 16px;
    font-weight: 500;
}

.today-date .event-date{
    font-size: 10px;
    font-weight: 400;
    color: #FFFFFF;
}
